<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fileDao" class="com.oshovskii.otus.dao.FileDaoInMemory">
    </bean>

    <bean id="parserCsv" class="com.oshovskii.otus.utils.Parser">
    </bean>

    <bean id="fileService" class="com.oshovskii.otus.service.FileServiceImpl">
        <constructor-arg name="dao" ref="fileDao"/>
        <constructor-arg name="parser" ref="parserCsv"/>
    </bean>

</beans>
